#form2 {
  display: none;
}

#form3 {
  display: none;
}

h1 {
  margin-bottom: 0%; font-size: 2rem
}

article {
  margin-bottom: 2rem; text-align: center;
}

article p {
  margin-top: 0;
}

form article p {
  font-size: 1.3rem; margin-bottom: 1px; text-align: left;
}

form article {
  text-align: left; margin-left: 30%; margin-right: 20%;
}

p {
  font-size: 1.1rem; text-align: center;
}

li {
  font-size: 1.1rem;
}
