.form2 {
  visibility: hidden;
}

h1 {
  margin-bottom: 0%; font-size: 2rem
}

article {
  margin-bottom: 2rem; text-align: center; width: 60%
}

article p {
  margin-top: 0;
}

form article p {
  font-size: 1.3rem; margin-bottom: 1px;
}

form article {
  text-align: left; margin-left: 30%
}

p {
  font-size: 1.1rem; text-align: center;
}
