ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 4rem 2rem;
  text-decoration: none;
  font-size: 2rem
}

li a:hover {
  color: red;
  border-bottom-color: yellow;
}

.active {
  color: red;
  border-bottom-color: yellow;

}
