ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 1.5rem 2rem;
  text-decoration: none;
  font-size: 2rem
}

li a:hover {
  color: red;
  border-bottom: 4px solid yellow;
}

.active {
  color: red;
  border-bottom: ;
  border-bottom: 4px solid yellow;

}
